body {
    display: flex;
    margin: 8px;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #402d74;
    background: hsla(248, 41%, 27%, 1);
    background: linear-gradient(180deg, rgb(80, 68, 160) 42%, rgb(158, 141, 66) 58%);
    background: -moz-linear-gradient(180deg, rgb(80, 68, 160) 42%, rgb(158, 141, 66) 58%);
    background: -webkit-linear-gradient(180deg, rgb(80, 68, 160) 42%, rgb(158, 141, 66) 58%);
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.choice-buttons {
    justify-content: stretch;
    display: flex;
    gap: 8px;
}

.choice-container {
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #312962;
    background: #302961;
    background: linear-gradient(180deg, rgb(80, 68, 160) 42%, rgb(158, 141, 66) 58%);
    background: -moz-linear-gradient(180deg, rgb(80, 68, 160) 42%, rgb(158, 141, 66) 58%);
    background: -webkit-linear-gradient(180deg, #312962 42%, rgb(93, 83, 39) 58%);
    border-radius: 2px;
    padding: 8px 8px;
}

#confirm-button {
    padding: 2px 8px;
    font-family: inherit;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}

#confirm-button:enabled {
    filter: drop-shadow(0 0 3px #fff)
}

.choice-buttons img {
    font-family: inherit;
    background-color: transparent;
    border-radius: 100%;
    border: transparent;
    color: #ab8dff;
    font-weight: inherit;
    padding: 0px;
    font-size: 0px;
    cursor: pointer;
}

.choice-buttons img.selected {
    scale: 1.25;
    filter: invert() drop-shadow(0 0 3px #fff);
}

.choice-buttons img:hover {
    scale: 1.05;
}

.choice-buttons img.selected:hover {
    scale: 1.3;
}

.choice-buttons img {
    scale: 1;
    transition: scale 0.2s;
    transition-timing-function: ease-out;
    flex: 1 1;
    width: 60px;
    padding: 0px;
    margin: 0px;
    filter: invert();
}

.match-score-container, .choice-display-container {
    display: flex;
    border-radius: 2px;
    background: hsla(248, 41%, 27%, 1);
    background: linear-gradient(180deg, hsla(248, 41%, 27%, 1) 42%, hsla(49, 41%, 27%, 1) 58%);
    background: -moz-linear-gradient(180deg, hsla(248, 41%, 27%, 1) 42%, hsla(49, 41%, 27%, 1) 58%);
    background: -webkit-linear-gradient(180deg, hsla(248, 41%, 27%, 1) 42%, hsla(49, 41%, 27%, 1) 58%);
    padding: 8px;
    align-self: stretch;
    justify-content: space-between;
}

.score-display {
    justify-items: stretch;
    flex: 4 4;
    padding: 8px;
    display: flex;
    border-radius: 2px;
    gap: 8px;
    min-width: 82px;
}

.player-icon {
    filter: brightness(0) saturate(100%) invert(42%) sepia(69%) saturate(666%) hue-rotate(215deg) brightness(103%) contrast(101%) drop-shadow(0 0 2px #4400ff);
    width: 60px;
}

.computer.choice-display {
    display: flex;
}

.player.choice-display {
    display: flex;
    flex-direction: row-reverse;
}

.computer-icon {
    filter: brightness(0) saturate(100%) invert(85%) sepia(82%) saturate(530%) hue-rotate(325deg) brightness(104%) contrast(105%) drop-shadow(0 0 2px #ffbf00);
    width: 60px;
}

.separator {
    flex: 2 2;

}

.player-score {
    background-color: #2e2953;
    flex-direction: row-reverse;
}

.computer-score {
    background-color: #5a4e28;
    flex-direction: row;
}

.score-display div {
    min-width: 10px;
    height: 10px;
    border-radius: 4px;
    flex: 1 1;
}

.computer-score div {
    background-color: #413d27;
}

.player-score div {
    background-color: #27223f;
}

.player-score .scored {
    background-color: #926bff;
    filter: drop-shadow(0 0 2px #4400ff);
}

.computer-score .scored {
    background-color: #ffe23e;
    filter: drop-shadow(0 0 2px #ffbf00);
}