body {
    display: flex;
    margin: 8px;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #402d74;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.choice-buttons {
    align-self: baseline;
    display: flex;
    gap: 8px;
    background-color: #312962;
    border-radius: 2px;
    padding: 8px 24px;
}

.choice-buttons button {
    font-family: inherit;
    background-color: transparent;
    border-radius: 100%;
    border: transparent;
    filter: drop-shadow(0 0 3px #a890e9);
    color: #ab8dff;
    font-weight: inherit;
    padding: 0px;
    font-size: 0px;
    cursor: pointer;
}

.choice-buttons button.selected {
    filter: drop-shadow(0 0 5px #c6b1ff);
}

.choice-buttons button img {
    flex: 1 1;
    width: 60px;
    padding: 0px;
    margin: 0px;
    filter: invert();
}

.match-score-container {
    display: flex;
    border-radius: 2px;
    background: hsla(248, 41%, 27%, 1);
    background: linear-gradient(180deg, hsla(248, 41%, 27%, 1) 42%, hsla(49, 41%, 27%, 1) 58%);
    background: -moz-linear-gradient(180deg, hsla(248, 41%, 27%, 1) 42%, hsla(49, 41%, 27%, 1) 58%);
    background: -webkit-linear-gradient(180deg, hsla(248, 41%, 27%, 1) 42%, hsla(49, 41%, 27%, 1) 58%);
    padding: 8px;
    align-self: stretch;
    justify-content: space-between;
}

.score-display {
    justify-items: stretch;
    flex: 4 4;
    padding: 8px;
    display: flex;
    border-radius: 2px;
    gap: 8px;
    min-width: 82px;
}

.separator {
    flex: 2 2;

}

.player-score {
    background-color: #2e2953;
    flex-direction: row-reverse;
}

.computer-score {
    background-color: #5a4e28;
    flex-direction: row;
}

.score-display div {
    min-width: 10px;
    height: 10px;
    border-radius: 4px;
    flex: 1 1;
}

.computer-score div {
    background-color: #413d27;
}

.player-score div {
    background-color: #27223f;
}

.player-score .scored {
    background-color: #703cff;
    filter: drop-shadow(0 0 2px #4400ff);
}

.computer-score .scored {
    background-color: #ffe23e;
    filter: drop-shadow(0 0 2px #ffd900);
}